# Ignore node_modules directory
node_modules/

backup
PRE
sample
nodesource_setup.sh
# Ignore auth.json file


# Ignore any log files
*.log
*.json

# Ignore build artifacts
build/
dist/
out/
data/
temp/
test/
auth/
auth
# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore VS Code settings
.vscode/

# Ignore npm/yarn lock files
package-lock.json
yarn.lock
